{% extends "base.html.twig" %}
{% block body %}

<!--{ { include("partials/nav.html.twig", {message: "Index page"}) }}--> 
{% if courses | length > 0 %}
{% for key, course in courses|slice(0, limit) %}
    <div>
        <h1><a href="{{ path('home_show', {course: course.id}) }}">{{ course.title|upper|slice(0,10) }}</a></h1>
        {% if is_granted("ROLE_EDITOR") %}
        <a href="{{ path('home_update', {course: course.id}) }}">Edit</a>
        {% endif %}
        <!-- <img width="300px" src="{ article.image }}" alt="{ article.title}}"> -->
    </div>
{% endfor %}
{% else %}
    <h3>No course yet!</h3>
{% endif %}

{% endblock %}
{% block title %}{{ about }}{% endblock %}